.source-row {
  transition: box-shadow 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

button:not([data-disabled="true"]) {
  cursor: pointer;
}

.source-row:hover {
  box-shadow: var(--shadow-1);
}

.line-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

body {
  margin: 0;
}

.rt-Badge {
  user-select: none;
}

#file-input {
  display: none;
}

.frameBox {
  border: 1px solid var(--gray-5);
  border-radius: var(--radius-2);
}

.rt-BaseDialogScrollPadding {
  padding-bottom: 0;
  padding-top: 0;
}

.rt-DropdownMenuItem {
  cursor: pointer;
}
